<body ng-controller="PotsCtrl">
<form role="form" ng-hide="isDisabled" name="controlForm">
    {{pots[1]}}
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li ng-repeat="pot in pots track by pot.name">
            <div class="grid-block">
                {{pot.name}}
                <br/>

                <h1>{{pot.temp | number : 1}}</h1>

                <div class="switch small">
                    <input id="{{pot.name + '_168'}}" value="{{pot.name + '_168'}}" type="radio" ng-model="$parent.boil"
                           ng-change="updateradio(pot)" >
                    <label for="{{pot.name + '_168'}}">{{pot.name}}</label>
                    168
                </div>
                <div class="switch small">
                    <input id="{{pot.name + '_boil'}}" value="{{pot.name + '_boil'}}" type="radio"
                           ng-model="$parent.boil" ng-change="updateradio(pot)">
                    <label for="{{pot.name + '_boil'}}">{{pot.name}}</label>
                    Boil
                </div>
                <div class="switch small">
                    <input id="{{pot.name + '_monitor'}}" value="{{pot.name + '_monitor'}}" type="radio"
                           ng-model="$parent.boil" ng-change="updateradio(pot)">
                    <label for="{{pot.name + '_monitor'}}">{{pot.name}}</label>
                    Monitor
                </div>
                <div class="switch small">
                    <input id="{{pot.name + '_custom'}}" value="{{pot.name + '_custom'}}" type="radio"
                           ng-model="$parent.boil" ng-change="updateradio(pot)">
                    <label for="{{pot.name + '_custom'}}">{{pot.name}}</label>
                    Custom
                </div>

                <div class="row collapse postfix-radius">

                   
                    <div class="small-4 columns">
                        <input id="{{pot.name + '_targetfield'}}" ng-init="pot.target" type="text"
                               placeholder="fahrenheit" ng-model="pot.target" ng-change="submitData(pot)"
                               ng-model-options="{ debounce: 500 }">
                    </div>
                    <div class="small-3 columns">
                        <span class="postfix">Target</span>
                    </div>

                </div>

            </div>
        </li>


    </ul>
    <div id="slider-container">
        <slider
                ng-init="boilRate = 80"
                ng-model="boilRate"
                ng-click="submitData()"
                ng-show="boil | endsWith: '_boil'"
                floor=0
                ceiling=100
                step=5
                >
        </slider>


    </div>

    <div ng-init="isDisabled = true" class="button expand" ng-click="toggle(false)">Turn Off</div>
</form>
<div ng-show="isDisabled" class="button expand" ng-click="toggle(true)">Allons-y</div>
<div ng-show="notresponding" data-alert class="alert-box warning">
    The raspberry pi is not responding to queries.
    <a href="#" class="close">&times;</a>
</div>
<div ng-show="missedPut" data-alert class="alert-box alert">
    The raspberry pi did not receive the command.
    <a href="#" class="close">&times;</a>
</div>
</body>
