<body ng-controller="PotsCtrl">
<form role="form" ng-hide="isDisabled" name="controlForm">
    {{pots[1]}}
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li ng-repeat="pot in pots track by pot.name">
            <div>
                {{pot.name}}
                <br/>

                <h1>{{pot.temp | number : 1}}</h1>

                <div class="switch small">
                    <input id="{{pot.name + '_168'}}" value="{{pot.name + '_168'}}" type="radio" ng-model="$parent.boil"
                           ng-change="updateradio()" >
                    <label for="{{pot.name + '_168'}}">{{pot.name}}</label>
                    168
                </div>
                <div class="switch small">
                    <input id="{{pot.name + '_boil'}}" value="{{pot.name + '_boil'}}" type="radio"
                           ng-model="$parent.boil" ng-change="updateradio()">
                    <label for="{{pot.name + '_boil'}}">{{pot.name}}</label>
                    Boil
                </div>

            </div>
        </li>


    </ul>
    <div id="slider-container">
        <slider
                ng-init="boilRate = 80"
                ng-model="boilRate"
                ng-mouseup="submitData()"
                ng-show="boil | endsWith: '_boil'"
                floor=0
                ceiling=100
                step=10
                >
        </slider>
    </div>


    <div ng-init="isDisabled = true" class="button expand" ng-click="toggle(false)">Turn Off</div>
</form>
<div ng-show="isDisabled" class="button expand" ng-click="toggle(true)">Allons-y</div>

</body>
